body {
  text-align: center;
  margin: 0;
}

.top-container {
  background-color: #c4f7ff;
}

/* .top-container {
}

h1 {
} */

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  top: 5%;
  right: 15%;
}
